<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>PSD3 Group H - Sprint Two</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/">Home Page</a>

	<hr width="75%" color="#ff0000" size="4" />
	<h1 align="center">Submission Status</h1>
	
	<hr width="75%" color="#ff0000" size="4" />
	<h4 align="center">Session submitted !</h4>
    <p align="center" th:text="'Date: ' + ${compsession.date}" />
    <p align="center" th:text="'Time: ' + ${compsession.time}"/>
    <p align="center" th:text="'Duration: ' + ${compsession.duration}" />
    <p align="center" th:text="'RepeatFrequency: ' + ${compsession.repeatFrequency}" />
    <p align="center" th:text="'Lecturer: ' + ${compsession.lecturer}" />
    <p align="center" th:text="'MaxAttendance: ' + ${compsession.maxAttendance}" />
    <p  align="center"th:text="'Compulsory: ' + ${compsession.compulsory}" />
    <p  align="center"th:text="'Venue: ' + ${compsession.venue}" />
    
    <a align="center" href="/addsession">Submit another message</a>
</body>
</html>
