<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>PSD3 Group H - Sprint Two</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/">Home Page</a>
	<h1>Result</h1>
	<h4>Session submitted !</h4>
    <p th:text="'Date: ' + ${compsession.date}" />
    <p th:text="'Time: ' + ${compsession.time}"/>
    <p th:text="'Duration: ' + ${compsession.duration}" />
    <p th:text="'RepeatFrequency: ' + ${compsession.repeatFrequency}" />
    <p th:text="'Lecturer: ' + ${compsession.lecturer}" />
    <p th:text="'MaxAttendance: ' + ${compsession.maxAttendance}" />
    <p th:text="'Compulsory: ' + ${compsession.compulsory}" />
    <p th:text="'Venue: ' + ${compsession.venue}" />
    
    <a href="/addsession">Submit another message</a>
</body>
</html>
