<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>PSD3 Group H - Sprint Two</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a href="/">Home Page</a>
	<h1>Session Form</h1>
	
    <form action="#" th:action="@{/addsession}" th:object="${compsession}" method="post">
    	<p>Date (dd/mm/yyyy): <input type="text" th:field="*{date}" /></p>
    	<p>Time (hh:mm): <input type="text" th:field="*{time}" /></p>
    	<p>Duration: <input type="text" th:field="*{duration}" /></p>
    	<p>RepeatFrequency (per week): <input type="text" th:field="*{repeatFrequency}" /></p>
    	<p>Lecturer: <input type="text" th:field="*{lecturer}" /></p>
    	<p>Maximum Attendance : <input type="text" th:field="*{maxAttendance}" /></p>
    	<p>Compulsory: <input type="checkbox" th:field="*{compulsory}" /></p>
    	<p>Venue: <input type="text" th:field="*{venue}" /></p>
        <p> <input type="submit" value="Submit"/><input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
